
html 
{
  scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    margin: auto;
}

main 
{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

header  
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}
.topNav 
{
    font-family: 'Raleway';
    height: 100px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.topNav div 
{
    height: 100%;
}
.topNav .logo 
{
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.topNav .logo img 
{
    max-height: 50px;
}
.topNav .link, .topNav .subscribe 
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.topNav a 
{
    color: black;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topNav .subscribe a 
{
    padding-left : 30px;
    color : #0065FC;
    font-weight: 800;
}
.topNav .link a 
{
    padding:  0 30px;
    border: 2px transparent solid;
    box-sizing: border-box;
    text-decoration: none;
}
.topNav .link a:hover
{
    border-top: #0065FC 2px solid;
    color : #0065FC;
}

.options {
    width: 100%;
    margin: auto;
}

.searchSection
{
    font-family: 'Raleway';
}
.searchSection h3
{
    font-weight: bold;
    font-size: 20px;
}
.searchSection p
{
    margin-top: -13px;
}
.logoSearchBar
{
    padding: 13px;
    padding-bottom: 16px;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    margin-top: 5px;
}
.barSearchBar
{
    border: 1px #F2F2F2 solid;
    padding: 15px;
    width: 220px;
    color: black;
    font-weight: bold;
    margin: 0;
}
.buttonSearchBar
{
    border: none;
    background-color: #0065FC;
    color: white;
    padding: 16px;
    border-radius: 0 10px 10px 0;
    margin-left: -4px;
}
.buttonSearchBarIcon
{
    display: none;
}
.filtersSection
{
    font-family: 'Raleway';
    margin-top: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 810px;
}

.filter
{
    border: 3px solid #F2F2F2;
    border-radius: 25px;
    display: flex;
    align-items: center;
    transition-duration: 0.5s;
}
.filter:hover
{
    cursor: pointer;
    border: 3px solid #0065FC;
    transition-duration: 0.5s;
}
.filter a
{
    
    margin-left: 10px;
    margin-right: 20px;
}
.filter .filter-fav
{
    width: 50px;
    height: 50px;
    
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;
    margin: -3px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.indication
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-family: 'Raleway';
}
.indicationIcon
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 3px solid #F2F2F2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 17px;
    margin-right: 5px;
}
.anchor
{
    position: absolute;
    top: -100px;
}
.container
{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}
.hebergements
{
    position: relative;
    max-width: 60%;
    background-color: #F2F2F2;
    font-family: 'Raleway';
    border-radius: 25px;
    padding: 0 20px;
}
.readMore
{
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px; 
}
.populaire
{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    background-color: #F2F2F2;
    font-family: 'Raleway';
   
    border-radius: 25px;
    padding: 0 20px 20px 20px;
}
.title
{
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    flex-grow: 1;
}
.topPopulaire
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
#iconPopulaire
{
    font-size: 30px;
}
.allCards
{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
   
    width: 100%;
}
.allCardsPopulaire
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 100%;
    flex-grow: 1;
}
.horizontalCard
{
    width: 100%;
    background-color: white;
    border-radius: 25px;
    border: 5px solid transparent;
    box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
    overflow: hidden;
    max-height: 150px;
    box-sizing: border-box;
    transition-duration: 0.5s;
}
.horizontalCard:hover
{
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    transition-duration: 0.5s;
}
.horizontalCard img
{
    width:  30%;
    height: 150px;
    float: left;
    object-fit: cover;
    transition-duration: 0.5s;
}

.horizontalCard .description {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding-left: 10px;
}

.horizontalCard h4
{
    margin: 0;
    margin-bottom: 10px;
}
.horizontalCard p
{
    margin: 0;
}
.horizontalStars
{
    color: #0065FC;
    padding-bottom: 5px;
}
.card
{
    width: 28%;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
    border: 5px solid transparent;
    margin-bottom: 25px;
    max-height: 230px;
    transition-duration: 0.5s;
    overflow: hidden;
}
.card:hover
{
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    transition-duration: 0.5s;
}
.stars
{
    margin-left: 10px;
    padding-bottom: 10px;
}
.stars i
{
    margin-top: 55px;
    margin-top: 0px;
    color: #0065FC;
}
.emptyStar i
{
    margin-top: 0px;
    color: #DEEBFF;
}
.card img
{
    width: 100%;
    height: 135px;
    object-fit: cover;
    transition-duration: 0.5s;
}
.card img:hover
{
    transition-duration: 0.5s;
    filter: opacity(0.7);
}
.card h4
{
    margin-left: 10px;
    margin-top: 2px;
}
.card p
{
    margin-left: 10px;
    margin-top: -15px;
}

footer 
{
    max-width: 1280px;
    margin: 0 auto;
    background-color: #f2f2f2;
}
section.footer 
{
    padding: 40px;
    display: flex;
    max-width: 1200px;
    font-family: 'Raleway';
}
.footerListe 
{
    width: 33%;
}
.footerListe ul  
{
    list-style: none;
    padding-left: 0;
}
.footerListe ul li 
{
    padding : 5px 0px;
}
.footerListe ul li a
{
    text-decoration: none;
    color: black;
}
/*Section Activitées*/
.containerActivites
{
    position: relative;
    padding-bottom: 80px;
}
.containerActivites h4
{
    font-size: 20px;
    font-family: 'Raleway';
}
.titleSection
    {
        width: 100%;
        margin: auto;
    }
.galery
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
}
.galery > div 
{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.columnGalery div:first-child {
    margin-bottom: 20px;
}
.galeryCard
{
    position: relative;
    width: 100%;
    border-radius: 25px;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
}
.galeryCard:hover
{
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    transition-duration: 0.5s;
}
.galeryCard img
{
    height: 100%;
    object-fit: cover;
    width: 100%;  
}

.galeryCard p
{
    font-family: 'Raleway';
    margin: 0 0 0 10px;
}
.galeryCardMin img
{
    position: relative;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}
.galeryCardMin p
{
    font-family: 'Raleway';
    position: absolute;
    top: 0%;
    left: 5%;
}
.galeryLegend
{
    display: flex;
    align-items: center;
    position: absolute;
    font-weight: bold;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: white;
}

/* affichage tablette */
@media screen and (max-width : 1025px) {
    .topNav 
    {
        flex-wrap: wrap;
        height: auto;
    }
    .topNav img
    {
        margin: 0 35px;
    }
    .topNav div {
        width: 50%;
        height: 55px;
    }
    .topNav div:nth-child(2) {
        order: 3;
    }
    .topNav div:nth-child(3) {
        order: 4;
    }
    .topNav div:nth-child(4) {
        order: 2;
    }
    .topNav a  
    {
        width: 100%;
    }
    .topNav .link a:hover {
        border-top: transparent 2px solid;
        border-bottom: #0065FC 2px solid;
    }
    main 
    {
        margin: 0;
        max-width: none;
    }
    .searchSection
    {
        width: 90%;
        margin: auto;
    }
    .searchBar
    {
        margin-bottom: 20px;
        width: 90%;
    }
    .barSearchBar
    {
        width: 150px;
    }
    .filtersSection
    {
        display: flex;
        flex-flow: wrap row;
        align-items: center;
        width: 90%;
        margin:auto;
    }
    .filter
    {
        margin: 5px 5px;
        width: auto;
    }
    .indication
    {
        justify-content: flex-start;
        width: 90%;
        margin: 10px auto;
    }
    .container
    {
        flex-direction: column-reverse;
        width: 100%;
    }
    .populaire
    {
        max-width: 100%;
        border-radius: 0;
    }
    .horizontalCard
    {
        width: 100%;
        margin-bottom: 20px;
    }
    .hebergements
    {
        max-width: 100%;
        margin: 0;
        background-color: white;
        flex-flow: wrap row;
    }
    .card
    {
        width: 48%;
    }
    .card img
    {
        height: 145px;
    }
    .readMore
    {
        margin-left: 10px;
        font-weight: bold;
        font-size: 17px; 
    }
    .containerActivites
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
    }
    .titleSection
    {
        width: 95%;
        margin: auto;
    }
    .galery > div 
    {
        width: 100%;
        flex-direction: row;
        height: 100%;
    }
    .galery > div:nth-child(2), .galery > div:nth-child(4)
    {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        height: 100%;
    }
    .columnGalery > div
    {
        width: 47%;
    }
    .galery
    {
        width: 95%;
        height: auto;
        margin: auto;
        flex-direction: column;
    }
    .galeryCard
    {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .galeryCard img
    {
        height: 250px; 
    }
    footer 
    {
        width: 100%;
    }
    section.footer 
    {
        flex-direction: row;
    }
    .footerListe 
    {
        width: 90%;
        margin: 0 5px;
    }
}

/* affichage mobile */
@media screen and (max-width : 767px) {
    .topNav 
    {
        flex-wrap: wrap;
        height: auto;
    }
    .topNav img
    {
        margin: 0 35px;
    }
    .topNav div {
        width: 50%;
        height: 55px;
    }
    .topNav div:nth-child(2) {
        order: 3;
    }
    .topNav div:nth-child(3) {
        order: 4;
    }
    .topNav div:nth-child(4) {
        order: 2;
    }
    .topNav a  
    {
        width: 100%;
    }
    .topNav .link a:hover {
        border-top: transparent 2px solid;
        border-bottom: #0065FC 2px solid;
    }
    main 
    {
        margin: 0;
        max-width: none;
    }
    .searchSection
    {
        width: 90%;
        margin: auto;
    }
    .searchBar
    {
        margin-bottom: 20px;
        width: 90%;
    }
    .barSearchBar
    {
        width: 150px;
    }
    .buttonSearchBarIcon
    {
        display: initial;
        margin: 0;
    }
    .buttonSearchBarText
    {
        display: none;
        margin: 0;
    }
    .filtersSection
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 90%;
        margin: auto;
    }
    .filter
    {
        margin: 5px auto;
        width: auto;
    }
    .indication
    {
        justify-content: flex-start;
        width: 90%;
        margin: 10px auto;
    }
    .container
    {
        flex-direction: column-reverse;
        width: 100%;
    }
    .populaire
    {
        max-width: 100%;
        border-radius: 0;
    }
    .horizontalCard
    {
        width: 100%;
        margin-bottom: 20px;
    }
    .hebergements
    {
        max-width: 100%;
        margin: 0;
        background-color: white;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .card
    {
        width: 100%;
    }
    .card img
    {
        height: 145px;
    }
    .readMore
    {
        margin-left: 10px;
        font-weight: bold;
        font-size: 17px; 
    }
    .containerActivites
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
    }
    .titleSection
    {
        width: 90%;
        margin: auto;
    }
    .galery > div:nth-child(2), .galery > div:nth-child(4)
    {
        width: 100%;
        flex-direction: column;
        margin: auto;
        height: 100%;
    }
    .columnGalery > div
    {
        width: 100%;
    }
    .galery
    {
        width: 90%;
        height: auto;
        margin: auto;
        flex-direction: column;
    }
    .galeryCard
    {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .galeryCard img
    {
        height: 230px;
        object-fit: cover;
        width: 100%;  
    }
    .galeryLegend
    {
        display: flex;
        align-items: center;
        position: absolute;
        font-weight: bold;
        bottom: 0px;
        width: 100%;
        height: 50px;
        background-color: white;
    }
    footer 
    {
        width: 100%;
    }
    .footerListe 
    {
        width: 100%;
    }
    section.footer 
    {
        flex-direction: column;
    }
}